@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
}

#map
{
  margin-left: 10px;
  margin-right: 0;
  height: 610px;
  width: 760px;
  float: left;
}

#directions
{
  width: 400px;
}

#forecast
{
  clear: both;
}

#contentDirections {
  width: 480px;
  height: 360px;
  background-color: #f9f9f9;
  float: right;
  overflow:auto;
  margin-top: 20px;
  border: 1px solid  #e4e4e4 ;
  border-radius: 25px;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  line-height: 1;


}

#contentForecast {
  width: 480px;
  height: 230px;
  background-color: #f9f9f9;
  float: right;
  overflow:auto;
  margin-top: 20px;
  border: 1px solid  #e4e4e4 ;
  border-radius: 25px;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;


}

.navbar {
  height: 100px;
  background-color: #183138;
  margin-bottom: 0px;
}

.top-pad {
  padding-top: 35px;
  padding-right: 40px;
}

.bottom-pad {
  padding-bottom: 75px;
}

.bottom-pad2 {
  padding-bottom: 15px;
}

.navbar-brand {
  padding-left: 50px;
}


.top {
  padding-top: 10px;

}

h1 {
  font-family: 'Chango', cursive;
}

.shadow {
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
  color: white;
}

.shadow2 {
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 1);
  color: white;
}

.shadowp {
text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);  
color: white;
}


ul {
  font-family: 'Averia Gruesa Libre', cursive;
}

.tall {
  height: 650px;
  padding-top: 20px;
}

.taller {
  height: 760px;
}

.width-slim {
  width: 30px;
}

.new-font {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}

.col-sm-offset-2 {
  margin-right: 0px;
}


footer { 
  background-color: #0c1a1e; 
  min-height: 250px; 
  font-family: 'Open Sans', sans-serif; 
}
.footerleft { 
  margin-top:50px; 
  padding:0 36px; 
}
.logofooter { 
  margin-bottom:10px; 
  font-size:25px; 
  color:#fff; 
  font-weight:700;
}

.footerleft p { 
  color:#fff; 
  font-size:12px !important; 
  font-family: 'Open Sans', sans-serif; 
  margin-bottom:15px;
}
.footerleft p i { 
  width:20px; 
  color:#999;
}

.paddingtop-bottom {  
  margin-top: 50px;
}
.footer-ul { 
  list-style-type:none;  
  padding-left:0px; margin-left:2px;
}
.footer-ul li { 
  line-height:29px; 
  font-size:12px;
}
.footer-ul li a { 
  color:#a0a3a4; 
  transition: color 0.2s linear 0s, background 0.2s linear 0s; 
}
.footer-ul i { 
  margin-right:10px;
}
.footer-ul li a:hover {
  transition: color 0.2s linear 0s, background 0.2s linear 0s; 
  color:#ff670f; 
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
.icon-ul { 
  list-style-type:none !important; 
  margin:0px; 
  padding:0px;
}
.icon-ul li { 
  line-height:75px; 
  width:100%; 
  float:left;
}
.icon { 
  float:left; 
  margin-right:5px;
}
 
.copyright { 
  min-height:40px; 
  background-color:#000000;
}
.copyright p { 
  text-align:left; 
  color:#FFF; 
  padding:10px 0; 
  margin-bottom:0px;
}
.heading7 { 
  font-size:21px; 
  font-weight:700; 
  color:#d9d6d6; 
  margin-bottom:22px;
}
.post p { 
  font-size:12px; 
  color:#FFF; 
  line-height:20px;
}
.post p span { 
  display:block; 
  color:#8f8f8f;
}
.bottom_ul { 
  list-style-type:none; 
  float:right; 
  margin-bottom:0px;
}
.bottom_ul li { 
  float:left; 
  line-height:40px;
}
.bottom_ul li:after { 
  content:"/"; 
  color:#FFF; 
  margin-right:8px; 
  margin-left:8px;
}
.bottom_ul li a { 
  color:#FFF;  
  font-size:12px;
}

.holder {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.error {
  color: red;
}

@media screen and (max-width: 1286px) {

  .tall
  {
    height: 1150px;
    padding-top: 20px;
  }

  #contentDirections
  {
    float: left;
  }

  #contentForecast
  {
    float: left;
  }
}
@media screen and (max-width: 980px) {

  .tall 
  {
    height: 1150px;
    padding-top: 20px;
  }

  .taller {
    height: 960px;
    padding-top: 20px;
  }


  #contentDirections {
   margin-top: 20px;
   width: 480px;
   height: 360px;
   background-color: #f9f9f9;
   float: right;
   overflow:auto;
   border: 1px solid  #e4e4e4 ;
   border-radius: 25px;
  }

#contentForecast {
    width: 480px;
    height: 230px;
    background-color: #f9f9f9;
    float: right;
    overflow: auto;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    right: 480px;
    top: -380px;
    border: 1px solid  #e4e4e4 ;
    border-radius: 25px;
}




  }


@media screen and (max-width: 768px) {

    .tall {
  height: 1150px;
  padding-top: 20px;
}

     .taller {
  height: 1130px;
  padding-top: 20px;
}

#contentDirections {
    margin-top: 20px;
    width: 380px;
    height: 320px;
    background-color: #f9f9f9;
    float: right;
    overflow: auto;
    border: 1px solid  #e4e4e4 ;
    border-radius: 25px;
}


#contentForecast {
    width: 336px;
    height: 320px;
    background-color: #f9f9f9;
    clear: both;
    overflow: auto;
    margin-top: 20px;
    position: relative;
    right: 385px;
    top: -340px;
    border: 1px solid  #e4e4e4 ;
    border-radius: 25px;
}

#map
{
  margin-left: 10px;
  margin-right: 0;
  height: 610px;
  width: 700px;
  float: left;
}




  }







@media screen and (max-width: 640px) {

      .tall {
  height: 1150px;
  padding-top: 20px;
}

     .taller {
  height: 1190px;
  padding-top: 20px;
}

#contentDirections {
    margin-top: 20px;
    width: 210px;
    height: 320px;
    background-color: #f9f9f9;
    float: right;
    overflow: auto;
    border: 1px solid  #e4e4e4 ;
    border-radius: 25px;
}


#contentForecast {
    width: 190px;
    height: 230px;
    background-color: #f9f9f9;
    float: right;
    overflow: auto;
    margin-top: 20px;
    position: relative;
    right: 213px;
    top: -340px;
    border: 1px solid  #e4e4e4 ;
    border-radius: 25px;
}


#map
{
  margin-left: 10px;
  margin-right: 0;
  height: 610px;
  width: 390px;
  float: left;
}

#directions
{
  width: 200px;
}

.navbar {
  height: 150px;
  background-color: #183138;
  margin-bottom: 0px;
}

.top-pad {
  padding-top: 0px;
  padding-right: 40px;
  display: inline;
}

  
}